<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    <bean id="myFortuneService" 
          class="demo.dependencyinjection.services.HappyFortuneService">
    </bean>

    <bean id="jiujitsu" 
          class="demo.dependencyinjection.implementations.JiuJitsuCoach">
      <constructor-arg ref="myFortuneService"/>
    </bean>

    <bean id="mma" 
          class="demo.dependencyinjection.implementations.MmaCoach">
      <constructor-arg ref="myFortuneService"/>
    </bean>

    <bean id="cricket"
          class="demo.dependencyinjection.implementations.CricketCoach">
      <property name="fortuneService" ref="myFortuneService"></property>
    </bean>
</beans>