<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:sport.properties" />
    
    <bean id="myFortuneService" 
          class="demo.dependencyinjection.services.HappyFortuneService">
    </bean>

    <!-- PROTOTYPE BEAN -->
    <bean id="jiujitsu" 
          class="demo.dependencyinjection.implementations.JiuJitsuCoach"
          scope="prototype">
      <constructor-arg ref="myFortuneService"/>
    </bean>

    <bean id="mma" 
          class="demo.dependencyinjection.implementations.MmaCoach">
      <constructor-arg ref="myFortuneService"/>
    </bean>

    <bean id="cricket"
          class="demo.dependencyinjection.implementations.CricketCoach">
      <property name="fortuneService" ref="myFortuneService"/>
      <property name="emailAddress" value="${default.coachEmail}"/>
      <property name="team" value="${default.coachTeam}"/>
    </bean>

    <!-- SINGLETON BEAN -->
    <bean id="karate" 
          class="demo.dependencyinjection.implementations.KarateCoach" 
          scope="singleton">
    </bean>
</beans>