<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Root</title>
</head>
<body>
    <h1>Jellow World</h1>
    <a th:href="@{/login}">Login</a>
    <br>
    <a th:href="@{/adduser}">Register</a>
    <br>
    <a th:href="@{/people}">Show people</a>
    <br>
    <a th:href="@{/admin}">Admin</a>
    <a th:href="@{/guest}">Guest</a>
    <a th:href="@{/common}">Common</a>
    <br>
    <br>
    <form th:action="@{/logout}" method="post">
        <button type="submit">Logout</button>
    </form>
</body>
</html>