<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form th:action="@{/login}" method="post">
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Enter username" required autofocus>
        </div>

        <div>
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Enter password" required autofocus>
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>